In [38]:
import FinanceDataReader as fdr
import pandas as pd

ModuleNotFoundError: No module named 'todayStockInfo'

In [17]:
df = fdr.DataReader('005930', '2021-01-01', '2023-12-31')
df

             Open   High    Low  Close    Volume    Change
Date
2021-01-04  81000  84400  80200  83000  38655276  0.024691
2021-01-05  81600  83900  81600  83900  35335669  0.010843
2021-01-06  83300  84500  82100  82200  42089013 -0.020262
2021-01-07  82800  84200  82700  82900  32644642  0.008516
2021-01-08  83300  90000  83000  88800  59013307  0.071170
...           ...    ...    ...    ...       ...       ...
2023-12-21  74600  75000  74300  75000  13478766  0.002674
2023-12-22  75800  76300  75400  75900  14515608  0.012000
2023-12-26  76100  76700  75700  76600  13164909  0.009223
2023-12-27  76700  78000  76500  78000  20651042  0.018277
2023-12-28  77700  78500  77500  78500  17797536  0.006410

[739 rows x 6 columns]

In [18]:
df = df[['Close', 'Volume']]
df

            Close    Volume
Date
2021-01-04  83000  38655276
2021-01-05  83900  35335669
2021-01-06  82200  42089013
2021-01-07  82900  32644642
2021-01-08  88800  59013307
...           ...       ...
2023-12-21  75000  13478766
2023-12-22  75900  14515608
2023-12-26  76600  13164909
2023-12-27  78000  20651042
2023-12-28  78500  17797536

[739 rows x 2 columns]

In [19]:
N = 9
weight = 2 / (N + 1)
df['SMA'] = df['Close'].rolling(window=N).mean()
df['EWM'] = df['Close'][0]
df

/var/folders/sd/2v2zt8g53wx1z01xd3qwhj000000gn/T/ipykernel_21098/152052379.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SMA'] = df['Close'].rolling(window=N).mean()
/var/folders/sd/2v2zt8g53wx1z01xd3qwhj000000gn/T/ipykernel_21098/152052379.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['EWM'] = df['Close'][0]
/var/folders/sd/2v2zt8g53wx1z01xd3qwhj000000gn/T/ipykernel_21098/152052379.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['EWM'] = df['Close'][0]

            Close    Volume           SMA    EWM
Date
2021-01-04  83000  38655276           NaN  83000
2021-01-05  83900  35335669           NaN  83000
2021-01-06  82200  42089013           NaN  83000
2021-01-07  82900  32644642           NaN  83000
2021-01-08  88800  59013307           NaN  83000
...           ...       ...           ...    ...
2023-12-21  75000  13478766  73533.333333  83000
2023-12-22  75900  14515608  73855.555556  83000
2023-12-26  76600  13164909  74200.000000  83000
2023-12-27  78000  20651042  74777.777778  83000
2023-12-28  78500  17797536  75377.777778  83000

[739 rows x 4 columns]

In [20]:
for index in range(1, len(df)):
    df['EWM'][index] = df['Close'][index] * weight + df['EWM'][index - 1] * (1 - weight)
df

/var/folders/sd/2v2zt8g53wx1z01xd3qwhj000000gn/T/ipykernel_21098/2959756878.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['EWM'][index] = df['Close'][index] * weight + df['EWM'][index - 1] * (1 - weight)
/var/folders/sd/2v2zt8g53wx1z01xd3qwhj000000gn/T/ipykernel_21098/2959756878.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['EWM'][index] = df['Close'][index] * weight + df['EWM'][index - 1] * (1 - weight)
/var/folders/sd/2v2zt8g53wx1z01xd3qwhj000000gn/T/ipykernel_21098/2959756878.py:2: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df['EWM'][index] = df['Close'][index] * weight + df['EWM'][index - 1] * (1 - weight)
/var/folders/sd/2v2zt8g53wx1z01xd3qwhj000000gn/T/ipykernel_21098/2959756878.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['EWM'][index] = df['Close'][index] * weight + df['EWM'][index - 1] * (1 - weight)
/var/folders/sd/2v2zt8g53wx1z01xd3qwhj000000gn/T/ipykernel_21098/2959756878.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['EWM'][index] = df['Close'][index] * weight + df['EWM'][index - 1] * (1 - weight)
/var/folders/sd/2v2zt8g53wx1z01xd3qwhj000000gn/T/ipykernel_21098/2959756878.py:2: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df['EWM'][index] = df['Close'][index] * weight + df['EWM'][index - 1] * (1 - weight)
/var/folders/sd/2v2zt8g53wx1z01xd3qwhj000000gn/T/ipykernel_21098/2959756878.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['EWM'][index] = df['Close'][index] * weight + df['EWM'][index - 1] * (1 - weight)
/var/folders/sd/2v2zt8g53wx1z01xd3qwhj000000gn/T/ipykernel_21098/2959756878.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['EWM'][index] = df['Close'][index] * weight + df['EWM'][index - 1] * (1 - weight)
/var/folders/sd/2v2zt8g53wx1z01xd3qwhj000000gn/T/ipykernel_21098/2959756878.py:2: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df['EWM'][index] = df['Close'][index] * weight + df['EWM'][index - 1] * (1 - weight)
/var/folders/sd/2v2zt8g53wx1z01xd3qwhj000000gn/T/ipykernel_21098/2959756878.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '82967.2' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df['EWM'][index] = df['Close'][index] * weight + df['EWM'][index - 1] * (1 - weight)
/var/folders/sd/2v2zt8g53wx1z01xd3qwhj000000gn/T/ipykernel_21098/2959756878.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['EWM'][index] = df['Close'][index] * weight + df['EWM'][index - 1] * (1 - weight)

            Close    Volume           SMA           EWM
Date
2021-01-04  83000  38655276           NaN  83000.000000
2021-01-05  83900  35335669           NaN  83180.000000
2021-01-06  82200  42089013           NaN  82984.000000
2021-01-07  82900  32644642           NaN  82967.200000
2021-01-08  88800  59013307           NaN  84133.760000
...           ...       ...           ...           ...
2023-12-21  75000  13478766  73533.333333  73642.523534
2023-12-22  75900  14515608  73855.555556  74094.018827
2023-12-26  76600  13164909  74200.000000  74595.215062
2023-12-27  78000  20651042  74777.777778  75276.172049
2023-12-28  78500  17797536  75377.777778  75920.937639

[739 rows x 4 columns]

In [22]:
def get_ema(df, N):
    weight = 2 / (N + 1)
    df['EWM'] = df['Close'][0]
    for index in range(1, len(df)):
        df['EWM'][index] = df['Close'][index] * weight + df['EWM'][index - 1] * (1 - weight)
    return df

In [34]:
df = fdr.DataReader('005930', '2021-01-01', '2023-12-31')[['Close', 'Volume']]
df['short_EWM'] = df['Close'].ewm(span=9, adjust=False).mean()
df['long_EWM'] = df['Close'].ewm(span=26, adjust=False).mean()

df['MACD'] = df['short_EWM'] - df['long_EWM']
df['Signal'] = df['MACD'].ewm(span=13, adjust=False).mean()
df['MACD Oscillator'] = df['MACD'] - df['Signal']
df

,Close,Volume,short_EWM,long_EWM,MACD,Signal,MACD Oscillator
Date,,,,,,,
2021-01-04,83000,38655276,83000.000000,83000.000000,0.000000,0.000000,0.000000
2021-01-05,83900,35335669,83180.000000,83066.666667,113.333333,16.190476,97.142857
2021-01-06,82200,42089013,82984.000000,83002.469136,-18.469136,11.239103,-29.708239
2021-01-07,82900,32644642,82967.200000,82994.878829,-27.678829,5.679398,-33.358228
2021-01-08,88800,59013307,84133.760000,83424.887805,708.872195,106.135512,602.736683
...,...,...,...,...,...,...,...
2023-12-21,75000,13478766,73642.523534,72562.259201,1080.264332,839.034422,241.229911
2023-12-22,75900,14515608,74094.018827,72809.499260,1284.519566,902.675157,381.844410
2023-12-26,76600,13164909,74595.215062,73090.277093,1504.937969,988.712701,516.225267
2023-12-27,78000,20651042,75276.172049,73453.960271,1822.211778,1107.783998,714.427780
2023-12-28,78500,17797536,75920.937639,73827.740992,2093.196647,1248.557234,844.639414

In [35]:
def get_macd(df, short_N=9, long_N=26, signal_N=13):
    df['short_EWM'] = df['Close'].ewm(span=short_N, adjust=False).mean()
    df['long_EWM'] = df['Close'].ewm(span=long_N, adjust=False).mean()
    df['MACD'] = df['short_EWM'] - df['long_EWM']
    df['Signal'] = df['MACD'].ewm(span=signal_N, adjust=False).mean()
    df['MACD Oscillator'] = df['MACD'] - df['Signal']
    return df

In [39]:
df = fdr.DataReader('005930', '2021-01-01', '2023-12-31')[['Close', 'Volume']]
df = get_macd(df)
df

,Close,Volume,short_EWM,long_EWM,MACD,Signal,MACD Oscillator
Date,,,,,,,
2021-01-04,83000,38655276,83000.000000,83000.000000,0.000000,0.000000,0.000000
2021-01-05,83900,35335669,83180.000000,83066.666667,113.333333,16.190476,97.142857
2021-01-06,82200,42089013,82984.000000,83002.469136,-18.469136,11.239103,-29.708239
2021-01-07,82900,32644642,82967.200000,82994.878829,-27.678829,5.679398,-33.358228
2021-01-08,88800,59013307,84133.760000,83424.887805,708.872195,106.135512,602.736683
...,...,...,...,...,...,...,...
2023-12-21,75000,13478766,73642.523534,72562.259201,1080.264332,839.034422,241.229911
2023-12-22,75900,14515608,74094.018827,72809.499260,1284.519566,902.675157,381.844410
2023-12-26,76600,13164909,74595.215062,73090.277093,1504.937969,988.712701,516.225267
2023-12-27,78000,20651042,75276.172049,73453.960271,1822.211778,1107.783998,714.427780
2023-12-28,78500,17797536,75920.937639,73827.740992,2093.196647,1248.557234,844.639414

In [42]:
def macdOscillator_fn(df, short_N=9, long_N=26, signal_N=13):
    df = df[['Close']].copy() 
    
    df['Short'] = df['Close'].ewm(span=short_N, adjust=False).mean()
    df['Long'] = df['Close'].ewm(span=long_N, adjust=False).mean()
    
    df['MACD'] = df['Short'] - df['Long']
    df['Signal'] = df['MACD'].ewm(span=signal_N, adjust=False).mean()
    df['MACD Oscillator'] = df['MACD'] - df['Signal']
    
    return df[['MACD', 'Signal', 'MACD Oscillator']]

In [45]:
df = fdr.DataReader('005930', '2021-01-01', '2023-12-31')
df = macdOscillator_fn(df)

                   MACD       Signal
Date
2021-01-04     0.000000     0.000000
2021-01-05   113.333333    16.190476
2021-01-06   -18.469136    11.239103
2021-01-07   -27.678829     5.679398
2021-01-08   708.872195   106.135512
...                 ...          ...
2023-12-21  1080.264332   839.034422
2023-12-22  1284.519566   902.675157
2023-12-26  1504.937969   988.712701
2023-12-27  1822.211778  1107.783998
2023-12-28  2093.196647  1248.557234

[739 rows x 2 columns]